{% extends 'base.html.twig' %}

{% block title %}All Activities{% endblock %}

{% block body %}
    {{ parent() }}
    <a href="{{ path("activity_new") }}" class="btn">New Activity</a>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/select.js') }}"></script>
{% endblock %}