body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.dropdown-content{
    width: max-content !important;
    height:auto !important;
    max-height: 250px;
}

.select-dropdown{
    overflow-y: auto !important;
}

.hidden{
    visibility: collapse;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #546e7a inset !important;
    -webkit-text-fill-color: white !important;
}

.error-message{
    color: red;
}




